
.footer-container {

    background-color: #2d3f67;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: #fefeff;
    padding: 15px;

}

.in-footer {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 25px;

    margin: 15px 250px;
    justify-content: space-between;
    align-items: center;
}


.social-media a {
    text-decoration: none;
    margin: 10px 20px;
    color: white;
}

.social-media a:hover {
    text-decoration: none;
    margin: 10px 20px;
    color: white;
    border-bottom: 1px solid white;
}

.address {

}

.calls {

}

.footer-phone, .footer-mail, .footer-post {
    color: darkgoldenrod;
}

.main-title, .now-title{
    color: red;
}

