

.header-container {
    position: fixed;
    top: 15px;
    background-color: #043ae8;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between; /* Elementlarni ikkala joyida joylashtirish */
    align-items: center; /* Elementlarni vertikal ravishda o'rtada joylash */
    padding: 10px; /* Kerakli bo'lsa paddingni o'zgartiring */
}

.logo-site {
    display: inline-block;
    margin-left: 25px;
    position: relative; /* Logo qalpoqli aylanish uchun asosiy element */
    width: 100px; /* O'zgartirish kerak bo'lgan logoning o'lchami */
    height: 100px; /* O'zgartirish kerak bo'lgan logoning balandligi */
}

.logotipe {
    width: 135px; /* Logoning o'lchami qatorning to'la o'lchamiga mos kelishi uchun */
    height: 135px; /* Logoning balandligi o'lchamiga mos kelishi uchun */
    position: absolute; /* Aylanish uchun harakatlanadigan element */
    top: -22px;
    left: 0;
    transition: transform 0.5s ease; /* Animatsiyani tayyorlash */
    border-radius: 50%;
    border: 3px solid red;
}

.logotipe:active {
    width: 125px; /* Logoning o'lchami qatorning to'la o'lchamiga mos kelishi uchun */
    height: 125px; /* Logoning balandligi o'lchamiga mos kelishi uchun */
    position: absolute; /* Aylanish uchun harakatlanadigan element */
    top: -20px;
    left: 5px;
    transition: transform 0.5s ease; /* Animatsiyani tayyorlash */
    border-radius: 50%;
    border: 1px solid #40ff00;
}

.logo-site:hover .logotipe {
    transform: rotate(360deg); /* Aylanish xaraktariga animatsiya */
}


.menu-site {
    display: flex;
    justify-content: center; /* Elementlarni o'rtada joylash */
    align-items: center; /* Elementlarni vertikal ravishda o'rtada joylash */
    margin: 0 auto; /* Ekran markazida joylash */
}

.avatar-site {
    margin-right: 45px;
}



.menu-buttons {
    display: flex;
    justify-content: center; /* Elementlarni o'rtada joylash */
    align-items: center; /* Elementlarni vertikal ravishda o'rtada joylash */
    flex-wrap: wrap; /* Agar barcha tugma bir qatorga sig'masdan joylashsa */
}

.menu-buttons button {
    margin: 5px; /* Tugmalarni bir-biridan uzaklashtirish */
}


.menu-site {
    display: inline-block;
}

.avatar-site {
    display: inline-block;
}

.menu-buttons a {
    text-decoration: none;
    margin-right: 15px;
    color: #00ff2a;
}

.menu-buttons a:hover {
    text-decoration: none;
    margin-right: 15px;
    color: #ffdd00;
    border-bottom: 1px solid #ffcc00;
}

.menu-buttons a:active {
    text-decoration: none;
    margin-right: 15px;
    color: #fc0b4b;
    border-bottom: 1px solid deeppink;
}

.rejim button {
    background: none;
    border: none;
    margin: 10px;
}
