/* App.css */

.body-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    flex-direction: column;
    min-height: 70vh;
    width: 94%;
    position: relative;
    z-index: -1;

    background-color: #060706;
    color: white;
    margin-top: 144px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 25px 35px;
    border-radius: 10px;

}

/* Boshqa stilni kerak bo'lsa, uni ham shu faylda qo'shing */

.image-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*rasmini sozlash qismi*/
.my-image {
    width: 70%;
    border-radius: 50%;
}

.main-body-text {
    color: white;
}